@import "neat/neat-helpers";

//bootstrap
$mobile: new-breakpoint(max-width 550px 4);
$smallTablet: new-breakpoint(max-width 767px 8);
$tablet: new-breakpoint(max-width 991px 8);
$tabletOnly: new-breakpoint(min-width 551px max-width 991px 8);
$desktop: new-breakpoint(min-width 992px 12);
$notMobile: new-breakpoint(min-width 551px 8);
$smallDesktop: new-breakpoint(max-width 1200px 8);
$smallDesktopOnly: new-breakpoint(min-width 992px max-width 1200px 8);
$largeDesktop: new-breakpoint(min-width 1201px 8);