@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

$red: #790000;
$blue: #197bc2;

$proxima_nova_ltsemibold: proxima_nova_ltsemibold, $helvetica;
$proxima_nova_rgbold: proxima_nova_rgbold, $helvetica;

$currentMenuItem: '&.current-menu-item, &.current_page_item, &.current-menu-ancestor, &.current-menu-parent';

.visible-tablet { display: none;
  @include media($tablet) { display: inline-block;}
}
.visible-phone { display: none;
  @include media($mobile) { display: inline-block;}
}
.hidden-tablet {
  @include media($tablet) { display: none !important;}
}
.hidden-phone {
  @include media($mobile) { display: none !important;}
}

.flexslider { margin: 0;}
.timeline-years li { padding: 20px;}
.flex-direction-nav .flex-prev { left: 40px !important;}
.flex-direction-nav .flex-next { right: 40px !important;}

.page-id-50 img { max-width: 100%; height: auto;}

.gform_wrapper .gfield_checkbox li label, .gform_wrapper .gfield_radio li label, #field_1_14 > .gfield_label { font-weight: normal !important;}

.gform_wrapper .gsection .gfield_label, .gform_wrapper h2.gsection_title, .gform_wrapper h3.gform_title { font-weight: 600 !important;}

@include media($smallDesktop) {
  .gform_wrapper .gfield_checkbox li label, .gform_wrapper .gfield_radio li label {
    padding-left: 15px !important;
    padding-top: 5px !important;
  }

  .page-links .content-wrapper { padding-top: 0; padding-bottom: 0;}
  .page-links #main .content-wrapper h4, .page-links #main .content-wrapper h4:first-child { margin-top: 40px !important;}
  .page-links #main .col-md-4:first-child {
    .content-wrapper { padding-top: 40px;}
    .content-wrapper h4:first-child { margin-top: 10px !important;}
  }
  .page-links #main .col-md-4:nth-child(3) {
    .content-wrapper { padding-bottom: 30px;}
  }

  .filt_text { margin-top: 40px;}
  .half_tablet:first-child { padding-bottom: 20px;}
}

@include media($tablet) {
  .page-template-quote-pages .board-committees .col-md-4:nth-child(2) .content-wrapper { padding-top: 0; padding-bottom: 0;}
  header #menu .menu li { margin-left: 0;}
  .page-id-83 .post-filter .grid-info-tags { height: auto !important;}
  .breadcrumb { padding: 0;}

  .downloadform input[type=checkbox]:checked + .checkcheck, .gfield_checkbox input[type=checkbox]:checked + .checkcheck {margin: -8px 0 5px 7px !important;}

  .page-template-news-events .grid-alt .right-col { margin-top: 0;}
  .page-template-news-events .grid-alt .right-col ul { margin-top: 0;}

  .page-id-58 .calendar-container { float: none !important; width: 100% !important;}

  .desktop-grid { display: none;}

  .page-id-64 #mc4wp_email { margin-bottom: 30px;}
}

@include media($tabletOnly) {
  #filepages11 { margin-bottom: 40px;}

  .board-committees .half_tablet:first-child, .board-committees .half_tablet:last-child { width: 50%;}
}

@include media($bigTabletOnly) {
  #main .content .teaser.teaser-leadership li, #main .content .teaser.teaser-twitter * { font-size: 16px !important;}
}

@include media($mobile) {
  .page-id-58 .calendar-container { margin-top: 20px;}

  header.sticky { padding: 0 20px 30px !important;}
  .nygov-universal-navigation header>div, .nygov-universal-navigation .l-header.nygov-header { padding: 0 !important;}
  #main .content .teaser .btn-bpca { line-height: 0 !important;}

  .filter-controls.filter-events-page .row { padding-top: 0;}
  .building-filter .filter-controls, .page-id-62 .filter-controls { padding: 20px 0 !important;}
  .page-id-62 .post-filter .grid-info-tags { width: 100% !important;}

  #main .content .teaser.teaser-leadership li, #main .content .teaser.teaser-twitter * { font-size: 16px !important;}

  .about-leadership .active:hover .grid-info .grid-info-list, .about-leadership .active:active .grid-info .grid-info-list { display: block !important;}

  img[alt="bpca_diagrams_large"] { display: none;}

  .tablet-grid { display: none;}

  .half_tablet:first-child { padding-bottom: 0;}
}